p, h1, h3, h2 {
	font-family: Georgia;
}
#header {
	border: 2px solid rgb(64,153,255);
	background-color: white;	
}
#wrap {
	padding: 10px;
	border-radius: 5px;
}
a.hover {
	background-color: white;
}
#content {
	padding: 10px;
}
html, #wrap, a, .tab-pane, #content {
	background-color: rgb(136, 204, 68);
}
